 ul a:focus {
 font-weight: bold;
 
}


nav ul  {
    background-color:#2b2b2b;
    
    height: 70px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    list-style: none;
    
    
}
nav ul a{
    color: white;
}
